.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desc {
  color: gray;
  font-size: 0.6rem;
}
.btn {
  color: #fff;
  background-color: #e50914;
  border-radius: 0.3vw;
  border: none;
  padding: 5px 10px;
  transition: filter 0.3s;
  cursor: pointer;
  margin-left: 100px;
}
.btn:hover {
  filter: brightness(0.7);
}
.plan > div {
  padding: 10px 0 0;
}

.active {
  background-color: gray;
  color: #111;
}
.active:hover {
  filter: brightness(1);
  cursor: not-allowed;
}
